@charset "utf-8";

/* 리스트 페이지 공통*/
.board_list,.board_view,.bo_write_wrap,.bogal_wrap{margin-bottom:100px}

.board_search{position:relative;padding:30px;margin-bottom: 30px;border: 1px solid #ddd;}
.board_search .total{display:inline-block;height:46px;line-height:46px;}
.board_search .search_form .search_input_wrap,
.board_search .search_form{display:inline-block;position:relative;}
.board_search #searchQuery{width:300px}
.board_search select,.board_search input{background-color: #efeeec;border: 1px solid #f0f0f0;border-radius:0;}
.board_search input{position:relative;padding-right:46px;}
.board_search input.s_text_a {padding: 10px 14px; width: 300px;}
.board_search .btn_search{background: #083797;height:46px;width:95px;line-height:46px;border:0;border-radius: 0 10px 10px 0;color: #fff;padding: 0 8px;}
.board_search .br_ra_l {border-radius: 10px 0 0 10px;}

.pagination{text-align:center;margin-top:10px}
.pagination ul li{display:inline-block;vertical-align:middle;text-align:center;line-height:35px}
.pagination ul li a{display:block;width:35px;height:35px;}
.pagination ul li a.active{background:#083797;color:#fff;font-weight:500}
.pagination ul li a.ico{border:1px solid #ddd;font-size:0;margin-left:-4px;background:url('/img/ir.png') no-repeat -740px -268px #fff}
.pagination ul li a.prev{background-position:-783px -268px;margin-right:10px;}
.pagination ul li a.next{background-position:-821px -268px;margin-left:10px}
.pagination ul li a.first{border-radius: 10px 0 0 10px;}
.pagination ul li a.last{background-position:-862px -268px;border-radius: 0 10px 10px 0;}

.bo_list .basic_tb1 {border-top: 2px solid #083797;}
.bo_list .basic_tb1 tr th {background: #f5f5f5;padding: 15px;text-align: center;border: 1px solid #ddd;}
.bo_list .basic_tb1 tr td {text-align: center;border: 1px solid #ddd;padding: 15px;}

/* 강좌검색/수강신청 리스트 */
.le_list_table {width: 100%;border-top: 2px solid #083797; table-layout: fixed;}
.le_list_table tr th {background: #f5f5f5;padding: 15px;text-align: center;border: 1px solid #ddd;}
.le_list_table tr td {text-align: center;border: 1px solid #ddd;padding: 15px;}
.le_list_table tr td:nth-child(2) {text-align:left;}

.le_list_table tr td span[class*="tag_"] {padding: 5px 10px;font-size: 0.875em;border-radius: 20px;width: 90px;color: #fff;font-weight: 500;}
.le_list_table tr td span.tag_00 {background: #52904a;}
.le_list_table tr td span.tag_01 {background: #f67117;}
.le_list_table tr td span.tag_02 {background: #c1c1c1;color: #515151;}
.le_list_table tr td .apply {padding: 5px 10px;font-size: 0.875em;border-radius: 20px;width: 90px;color: #fff;font-weight: 500;margin-top: 5px;}
.le_list_table tr td .a_t_1 {width: 100%;height: 100%;display: block;background: #f3a72c;}
.le_list_table tr td .a_t_2 {background: #f3a72c;}

.le_list_table tr td > a {width: 100%;height: 100%;display: block;transition: all 0.3s ease;}
.le_list_table tr td > a:hover .tit {color: #255dfa;}
.le_list_table tr td span.type {display: inline-block;padding: 3px 5px;font-size: 0.75rem;color: #255dfa;border-radius: 3px;border: 1px solid #255dfa;font-weight: 500;background: rgba(37, 93, 250, .1);}
.le_list_table tr td span.tit {width: 100%;font-size: 1.125em;text-overflow: ellipsis;overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;line-height: 1.3em;height: 2.6em;margin: 5px 0;font-weight: 500;}
.le_list_table tr td span.time {font-size: 0.875em;width: 100%;overflow:hidden;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.le_list_table tr td span.age_type{font-size: 0.875em;}
.le_list_table tr td span.fb2{color: #562cb5;}

.le_list_table tr td span.mo_vis {display: none;}

.le_list_table tr.no_le td {padding: 30px 0;}

/* 강좌정보 */
.le_v_wrap .info_tit {font-size: 1.250em;font-weight: 600;margin-bottom: 15px;}

.le_v_wrap .le_v_title {padding: 20px;border-top: 2px solid #21262e;border-bottom: 2px solid #21262e;background: #f8f8f8;}
.le_v_wrap .le_v_title p {font-weight: 600;font-size: 1.250em;}
.le_v_wrap .le_v_title  .state {margin-left: 8px;padding: 4px;font-size: .75rem;border: 1px solid #ddd;background: #fff;}

.le_info_box {display: flex;border-bottom: 1px solid #ddd;}
.le_info_box .info_l {width: 30%;padding: 20px;}
.le_info_box .info_l .no_img {height: 100%;display: flex;align-items: center;justify-content: center;background: #fafafa;}
.le_info_box .info_r {width: 70%;padding: 20px;}
.le_info_box .le_v_table {border-top: 1px solid #ddd;}
.le_info_box .le_v_table th {padding: 0.75rem;width: 20%;background: #fafafa;border-bottom: 1px solid #ddd;color:#121212;font-weight: 500;}
.le_info_box .le_v_table td {padding: 0.75rem;border-bottom: 1px solid #ddd;}
.le_info_box .le_v_table td .fb1 {color: #562cb5;}

.le_info_box .btn_box {display: flex;margin-top: 20px;}
.le_info_box .btn_box a {width: 48%;margin: 0 1%;padding: 10px;text-align: center;display: block;border-radius: 10px;border: 1px solid #3d8e36;}
.le_info_box .btn_box a.apply {color: #fff;background: #f3a72c;border: 1px solid #f3a72c;}
.le_info_box .btn_box a.wait {background: #c1c1c1;color: #515151;border: 1px solid #c1c1c1;}

.le_info_box.mbox {margin-top: 20px;display: block;padding-bottom: 20px;border-bottom: none;}
.le_v_table td .instructor {padding: 10px 15px 10px 40px;font-size: 0.875em;border: 1px solid #ddd;border-radius: 5px;}
.le_v_table td .ico_excl {display: block;margin-top: 10px;font-size: 0.875em;padding-left: 20px;position: relative;}
.le_v_table td .ico_excl::after {content: '!';display: block;width: 18px;height: 18px;background: #c5c5c5;font-weight: 700;color: #fff;text-align: center;line-height: 18px;border-radius: 50%;position: absolute;top: -1px;left: 0;}
.le_info_box .le_v_table .down_box {flex-wrap: wrap;}
.le_info_box .le_v_table .down_box .down {padding: 10px 15px 10px 40px;font-size: 0.875em;border: 1px solid #ddd;border-radius: 5px;margin-right: 10px;}
.le_info_box .le_v_table .down_box a:last-child {margin-right: 0;}

.le_info_box.bbox {display: block;margin-top: 20px;border-bottom: none;}
.le_info_box.bbox .le_v_table {font-size: 0.875em;text-align: center;}
.le_info_box.bbox .le_v_table .ap_ok {color: #562cb5;}
.le_info_box.bbox .le_v_table .ap_wa {color: #388f2c;}
.le_info_box .n_red {font-size: 0.725em;margin-left: 10px;color: red;}

.view_pagination ul {background: #f3f4f7;border-top: 1px solid #a7a7a7;border-bottom: 1px solid #a7a7a7;}
.view_pagination ul li {width: 50%;}
.view_pagination ul li a{display: block;padding: 26px 30px;font-weight: 500;font-size: 0.875em;position: relative;}
.view_pagination ul li.prev a {padding-left: 90px;text-align: right;}
.view_pagination ul li.next a {padding-right: 90px;text-align: left;}
.view_pagination ul li a span {position: absolute;font-size: 0.813em;width: 62px;height: 26px;margin-top: -13px;top: 50%;background: #7e8baf;color: #fff;border-radius: 20px;text-align: center;line-height: 26px;}
.view_pagination ul li.prev a span {left: 20px;}
.view_pagination ul li.next a span {right: 20px;}

/* 수강신청 확인 및 취소 - 리스트*/
.le_list .basic_tb1 {table-layout: fixed;}
.le_list .basic_tb1 tr td a.fb1 {width: 100%; display:block;text-align: left;transition: all 0.3s ease;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.le_list .basic_tb1 tr td a.fb1:hover {color: #255dfa;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.le_list .basic_tb1 tr td span.ap_ok {color: #562cb5;font-weight: 500;}
.le_list .basic_tb1 tr td span.ap_wa {color: #388f2c;font-weight: 500;}
.le_list .basic_tb1 tr td span.ap_de {color: #969696;font-weight: 500;}

.le_list .basic_tb1 tr td a.btn_de {padding: 5px 15px;border: 1px solid #ec4550;color: #db2632;border-radius: 20px;font-weight: 500;}

/* 수강신청 확인 및 취소 - 수강신청*/
.personal_info {border: 1px solid #ddd;border-radius: 15px;padding: 20px;}
.personal_info ul li p.fb1 {padding-left: 20px;}
.personal_info ul li p:not(.fb1){padding-left: 30px;position: relative;}
.personal_info ul li p:not(.fb1)::after {content: '';display: block;width: 5px;height: 5px;border-radius: 50%;background: #ddd;position: absolute;top: 7px;left: 20px;}

/* 버튼 */
.bo_btn_wrap {width: 100%;margin-top: 20px;display: flex;justify-content: end;}
.bo_btn_wrap a {padding:7px 15px;border: 1px solid #a7a7a7;border-radius: 7px;margin-right: 10px;font-weight: 500;}
.bo_btn_wrap a:last-child {margin-right: 0;}
.bo_btn_wrap a.cancel {color: red;border: 1px solid red;}
.bo_btn_wrap a.de_con {color: #562cb5;border: 1px solid #562cb5;}
.bo_btn_wrap a.ans_t {color: #255dfa;border: 1px solid #255dfa;}
.bo_btn_wrap a.save {color: #388f2c;border: 1px solid #388f2c;}
.bo_btn_wrap a.write {color: #388f2c;border: 1px solid #388f2c;}
