@charset "utf-8";

.add_dot {padding-left: 10px;position: relative;}
.add_dot::after {content: '';display: block;width: 5px;height: 5px;background: #bdbdbd;border-radius: 50%;position: absolute;top: 50%;transform: translateY(-50%);left: 0;}
