@charset "utf-8";


/* 기본 레이아웃 */
.wrapper{width:100%;overflow:hidden}
.inner{position:relative;width:1400px;padding-right:1.25rem;padding-left:1.25rem; margin:0 auto; box-sizing:border-box}
#container{width:100%;overflow:hidden}

/* ----------- header ----------- */

/* tnb */
.tnb{height: 50px;border-bottom: 1px solid #ddd;}
.tnb li a {display: block;position: relative;height: 50px;line-height: 50px;padding: 0 14px 0 13px;}
.tnb li a::after {content:'';display: block;width: 3px;height: 3px;border-radius: 50%;position: absolute;top: 50%;transform: translateY(-50%);right: 0;background: #000;}
.tnb li:last-child a::after {display: none;}
.tnb li:first-child a {padding: 0 14px 0 0;}

/* logo */
.logo_box {height:90px;position:absolute;top:0;left:0;z-index:90;}
.logo_box a{height:100%;display:inline-flex;align-items: center;}

/* gnb */
#gnb{width:100%;position:relative;height: 90px;}
/* #gnb > ul{margin:0 auto;text-align:center;} */
#gnb > ul{margin:0 0 0 680px;text-align:center;}
#gnb > ul > li{display:inline-block;}
#gnb > ul > .depth1 > a{position:relative;display:block;padding:32px 20px 32px;font-size:1.313rem;font-weight:600;}
#gnb > ul > li > a:hover,
#gnb > ul > li > a:focus{color:#00a0c9}
/* #gnb > ul > li > a:before{content:'';position:absolute;left:10%;top:86px;display:block;width:80%;height:0px;opacity:.7;background:#00a0c9;transition: all .3s ease-in-out;} */
#gnb > ul > li > a:hover:before,
#gnb > ul > li > a:focus:before{top:86px;height:4px;opacity:.4;}

#gnb .dep2Wrap{display:none;position:absolute;top:90px;left:0;padding:0 70px;width:100%;padding:0;text-align:left;background:#fff;border-top:1px solid #ddd;border-bottom:1px solid #ddd;z-index:80;box-shadow: 6px 8px 10px 2px rgba(0, 0, 0, 0.1);}
#gnb .dep2Wrap .inner{padding-left:290px;}
#gnb .dep2Wrap .inner:before{content:'';position:absolute;top:0;left:-100%;width:100%;height:100%;background:#E9F3FF;}

#gnb .dep2Wrap .dep2tit{position:absolute;top:0;left:0;height:100%;width:290px;padding-top:48px;padding-left: 20px;background-color:#E9F3FF;}
#gnb .dep2Wrap .dep2tit .heading_5{position:relative;margin-bottom:24px;padding-bottom:24px;font-weight:600;color: #004adf;}
#gnb .dep2Wrap .dep2tit .heading_5:after{content:'';position:absolute;bottom:0;left:0;width:46px;height:2px;background:#333;}
#gnb .dep2Wrap .dep2tit .body_2{color:#666;}
#gnb .dep2Wrap.m1 .dep2tit{background:url('../img/gnbov_bg_01.png') left 90% no-repeat #E9F3FF;}
#gnb .dep2Wrap.m2 .dep2tit{background:url('../img/gnbov_bg_02.png') 90% 90% no-repeat #E9F3FF;}
#gnb .dep2Wrap.m3 .dep2tit{background:url('../img/gnbov_bg_03.png') 90% 90% no-repeat #E9F3FF;}
#gnb .dep2Wrap.m4 .dep2tit{background:url('../img/gnbov_bg_04.png') 90% 90% no-repeat #E9F3FF;}
#gnb .dep2Wrap.m5 .dep2tit{background:url('../img/gnbov_bg_05.png') 90% 90% no-repeat #E9F3FF;}
#gnb .dep2Wrap.m6 .dep2tit{background:url('../img/gnbov_bg_06.png') 90% 90% no-repeat #E9F3FF;}

#gnb .depth2{position:relative;top:0;padding:32px;min-height:250px;}
#gnb .depth2 > li {float:left;width:calc((100% - 96px) / 4);}
#gnb .depth2 > li:not(:nth-child(4n)){margin-right:32px;}
#gnb .depth2 > li > a{display:block;padding:12px 24px;margin-bottom:16px;font-weight:600;border:1px solid #ddd;border-radius:8px;transition: all 0.2s ease;color: #454240;position: relative;}
#gnb .depth2 > li > a::after {content:'';display: block;width: 22px;height: 22px;background: url(../img/main_ir.png) -353px -208px no-repeat;position: absolute;top: 50%;right: 10%;transform: translateY(-50%);opacity: 0;transition: all 0.2s ease;}
#gnb .depth2 > li > a:hover{background-color:#E9F3FF;border: 1px solid #004adf;}
#gnb .depth2 > li > a:hover::after{opacity: 1;}
/* #gnb .depth2 > li > ul > li{margin:2px 0;}
#gnb .depth2 > li > ul > li{position:relative;padding-left:14px;margin:2px 0px;font-size:0.813rem;}
#gnb .depth2 > li > ul > li:after{content:'';position:absolute;left:0;top:12px;width:4px;height:4px;background:#bbb;border-radius:50%}
#gnb .depth2 > li > ul > li > a{display:block;padding:6px 0;transition: all 0.2s ease;}
#gnb .depth2 > li > ul > li > a:hover{text-decoration:underline;color:#00a0c9;} */
#gnb .depth2:after{content:"";width:100%;display:block;visibility:hidden;clear:both;}

/* .gnb_area .tmnBg {position: absolute;top: 130px;left: 0;width: 100%;height: 0px;background: #fff;z-index: 100;box-shadow: 6px 8px 10px 2px rgba(0, 0, 0, 0.1);} */

/* mobile_menu */
#header #mMenu{display:none;}
#mGnb{display:none;}


/* ----------- footer ----------- */
#footer {border-top: 1px solid #ddd;}
.f_wrap {padding-top: 50px;padding-bottom: 20px;}
.f_top {padding-bottom: 25px;border-bottom: 1px solid #ddd;font-size: 0.938em;}
.f_top .f_logo {margin-right: 20px;}
.f_top .f_box .f_link li {position: relative;}
.f_top .f_box .f_link li::after {content: '';display: block;width: 1px;height: 18px;background: #000;position: absolute;top: 0;right: 0;}
.f_top .f_box .f_link li:last-child::after {display: none;}
.f_top .f_box .f_link li > a {padding: 0 20px;display: block;}
.f_top .f_box .f_link li:first-child > a {padding: 0 20px 0 0;}
.f_top .f_box .f_info {margin-top: 10px;}
.f_bottom {padding-top: 20px;}

/* ----------- quick-menu ----------- */
.quick_nav {position: fixed;bottom: 430px;right: 0;border-radius: 15px 0 0 15px;background: #562cb5;z-index: 79;}
.quick_nav .qn_list {padding: 0 15px;}
.quick_nav .qn_list li {border-bottom: 1px solid #fff;}
.quick_nav .qn_list li:last-child {border-bottom: none;}
.quick_nav .qn_list li a {display:block;padding: 60px 0 15px;color: #fff;position: relative;}
.quick_nav .qn_list li a::after {content: '';display: block;width: 32px;height: 32px;background: url(../img/main_ir.png) -9px -213px no-repeat;position: absolute;top: 20px;left: 50%;transform: translateX(-50%);}
.quick_nav .qn_list li:nth-child(2) a::after {background-position: -70px -213px;}



/* ----------- loca_nav ----------- */


/* ----------- sub ----------- */
#svisualLayout{width:100%;height:220px;position:relative;}
#svisualLayout .svisualBg{position:absolute;width:100%;height:220px;top:0;left:0;overflow:hidden;z-index:-1;}
#svisualLayout .svisualBg:after{content:'';position:absolute; top:0; left:0;display:block; width:100%; height:360px;animation: kenburns-bottom 5s ease-out both;}
#svisualLayout .svisualBg.svisualBg_01:after{background:url('../img/sub_visual_bg.png') no-repeat center top #ebf3ff; }
#svisualLayout .svisualBg.svisualBg_02:after{background:url('../img/sub_visual_bg.png') no-repeat center top #ebf3ff; }
#svisualLayout .svisualBg.svisualBg_03:after{background:url('../img/sub_visual_bg.png') no-repeat center top #ebf3ff; }
#svisualLayout .svisualBg.svisualBg_04:after{background:url('../img/sub_visual_bg.png') no-repeat center top #ebf3ff; }
#svisualLayout .svisualBg.svisualBg_05:after{background:url('../img/sub_visual_bg.png') no-repeat center top #ebf3ff; }
#svisualLayout .svisualBg.svisualBg_06:after{background:url('../img/sub_visual_bg.png') no-repeat center top #ebf3ff; }
#svisualLayout .svisualBg.svisualBg_07:after{background:url('../img/sub_visual_bg.png') no-repeat center top #ebf3ff; }
#svisualLayout .svisualBg.svisualBg_08:after{background:url('../img/sub_visual_bg.png') no-repeat center top #ebf3ff; }
#svisualLayout .titleWrap {padding:70px 0 0px;  }
#svisualLayout .titleWrap h2{font-size:2.25rem;font-weight:700;animation:fadein 1s;}

.breadcrumb_wp{height:50px;margin-top:-50px;border-top:1px solid #ddd;}
.breadcrumb_wp .breadcrumb li a{position:relative;padding-right:36px;margin-right:10px;opacity:.5;height:50px;line-height:50px;}
.breadcrumb_wp .breadcrumb li:last-child a{margin-right:0;padding-right:0;}
.breadcrumb_wp .breadcrumb li.home a span{vertical-align:middle;width:28px;background:url("../img/ir.png") -466px 16px no-repeat;font-size:0;}
.breadcrumb_wp .breadcrumb li a:hover{opacity:1;}
.breadcrumb_wp .breadcrumb li:not(:last-child) a:after{content:'';position:absolute;right:2px;top:50%;margin-top:-10px;width:20px;height:20px;border-radius:50%;background:url("../img/ir.png") -520px -1px no-repeat rgba(255,255,255,.5);}

#snb {width: calc((100% - 96px) / 4);padding-right: 30px;margin-right: 32px;}
.snb_list > li {margin-bottom: 7px;}
.snb_list > li > a {width: 100%; height:50px; line-height: 50px;padding:0 30px;border: 2px solid #435fa5;font-size: 1.188em;font: 500;display: block;}
.snb_list > li > a.active {color: #fff;background: #435fa5;}
.snb_list > li > .snb_dep3_list {border: 2px solid #435fa5;border-radius: 0 0 15px 0;padding: 10px;}
.snb_list > li > .snb_dep3_list > li > a {width: 100%;padding: 10px 0 10px 30px;}

#subContent {width: calc(100% - 316px);}
/* #subContent .snb_dep3{margin-bottom:40px;}
#subContent .snb_dep3_list {display:flex;}
#subContent .snb_dep3_list li a{position: relative;display: inline-flex;justify-content: center;align-items: center;padding:12px 20px;white-space:nowrap;text-align: center;vertical-align: middle;border: 0 solid transparent;border-radius:50px;background:#eceef4;color:#6b6e77;transition:all .2s ease;} */

#contentWrap {padding: 60px 0;}
#contentWrap > .inner {display: flex;}
#contentWrap .sub_title_box {margin-bottom:40px;justify-content:space-between;align-items:center;}
#contentWrap .sub_title_box .sub_title{font-size:2.25rem;font-weight:700;}
#contentWrap .sub_title_box .screen_unit {height:44px;}
#contentWrap .sub_title_box .screen_unit a{margin-left:4px;width:44px;height:44px;border-radius:4px;background:url("../img/ir.png") -465px -29px no-repeat #f4f4f4;font-size:0;vertical-align:top;}
#contentWrap .sub_title_box .screen_unit a.btn-zoomdown{background-position:-510px -29px;}
#contentWrap .sub_title_box .screen_unit a.print{background-position:-559px -29px;}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1.1) translateY(-10px);
            transform: scale(1.1) translateY(-10px);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(32px); opacity:0;
            transform: translateY(32px); opacity:0;
  }
  100% {
    -webkit-transform: translateY(0);opacity:1;
            transform: translateY(0);opacity:1;
  }
}
