@charset "utf-8";


/* ----------- main_sec01 ----------- */
.main_sec01 {background: #e9f3ff;}
.main_slide_wrap {padding-top: 80px;position: relative;min-height: 806px;}

/* 타이틀 */
.main_slide_wrap .main_tit .fb3 {font-size: 3.438em;color: #562cb5;font-weight: 700;}
.main_slide_wrap .main_tit span {color: #004adf;font-weight: 700;}
.main_slide_wrap .main_tit .fb1 {font-size: 1.125em;margin-top: 20px;}

/* 자주찾는메뉴 - 강좌 정보 */
.main_slide_wrap > .dp_flex {margin-top:30px;}

/* 자주찾는 메뉴 */
.main_slide_wrap .box_l {width: 25%;padding-right: 40px;min-height: 500px;}
.main_slide_wrap .box_l .menu_link {border-radius: 15px;background: #ffd451;padding:20px;}
.main_slide_wrap .box_l .menu_link li {margin-bottom:20px;}
.main_slide_wrap .box_l .menu_link li:last-child {margin-bottom:0;}
.main_slide_wrap .box_l .menu_link li a {width: 100%;height: 76px; display: block; border-radius: 10px;padding:27px 10px 0 94px;background: #fff2b9;font-size: 1.125em;position: relative;font-weight: 500;}
.main_slide_wrap .box_l .menu_link li a::after {content: '';display: block;width: 60px;height: 45px;background: url(../img/main_ir.png) -4px -75px no-repeat;position: absolute;top: 50%;left: 20px; transform: translateY(-50%);}
.main_slide_wrap .box_l .menu_link li:nth-child(2) a::after {background-position: -80px -77px;}
.main_slide_wrap .box_l .menu_link li:nth-child(3) a::after {background-position: -162px -77px;}
.main_slide_wrap .box_l .menu_link li:nth-child(4) a::after {background-position: -246px -77px;}
.main_slide_wrap .box_l .menu_link li:nth-child(5) a::after {background-position: -317px -77px;}
.main_slide_wrap .box_l .menu_link li.row_br a {padding:17px 10px 0 94px;}

.main_slide_wrap .box_l .menu_link li a:hover {color: #004adf;}
.main_slide_wrap .box_l .menu_link li a:hover::after {animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;}

/* 강좌정보 */
.main_slide_wrap .box_r {width: 75%;border-radius: 15px;background-color: #fff;padding: 20px 16px 0;position: relative;}
.main_slide_wrap .box_r::after {content: '';display: block;width: 100%;height: 1px;background-color: #ddd;position: absolute;top: 70px;left: 0;}
.box_r .lecture_tab_box {position: relative;min-height: 480px;width: 100%;}

.box_r .lecture_tab_box > .font_g {font-size: 1.750em;font-weight: 600;padding-left: 16px;}
.box_r .lecture_tab_box .de_orange {font-weight: 600;color: #ff3600;}

.le_tabs {position: absolute;left:0;top: -4px;width: 100%;padding-left: 140px;}
.le_tabs > li {display: inline-block;}
.le_tabs > li >a.tab_link {position: relative;display: block;border-radius: 17px;color: #59588d;background: #d3dae3;width:85px;text-align: center;height: 35px;line-height: 35px;transition: all 0.2s ease;}
.le_tabs > li >a.tab_link.active {background: #004adf;color: #fff;}
.le_tabs > li >a.tab_link:hover {background: #004adf;color: #fff;}
.le_tabs .tab_cont{display: none;width: 100%;position: absolute;left: 0;top: 45px;padding: 0 16px;}
.le_tabs > li:first-child > .tab_cont{display:block}

/* 강좌정보 슬라이드 */
.le_tabs .le_sd {margin: 38px -16px;}
.le_tabs .le_sd .item_box {padding: 0 16px;}
.le_tabs .le_sd .item {background: #f67117;border-radius: 10px;display: block;padding: 67px 20px 20px;position: relative;min-height: 352px;}
.le_tabs .le_sd .item .tag {background: #fff; color: #f67117;padding: 6px 10px;font-size: 0.875em;border-radius: 5px;position: absolute;top: 20px;left: 30px;font-weight: 500;}

.le_tabs .le_sd .ongoing .item {background: #f67117;}
.le_tabs .le_sd .ongoing .item .tag {color: #f67117;}
.le_tabs .le_sd .expect .item {background: #52904a;}
.le_tabs .le_sd .expect .item .tag {color: #52904a;}
.le_tabs .le_sd .end .item {background: #c1c1c1;}
.le_tabs .le_sd .end .item .tag {color: #515151;;}
.le_tabs .le_sd .end .item .le_tit {color:#515151;}
.le_tabs .le_sd .end .item .det_info {color:#515151;}

.le_tabs .le_sd .item .le_tit {font-size: 1.375em;color: #fff;line-height:1.7rem;font-weight: 600;width: 100%;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.le_tabs .le_sd .item .det_info {margin-top:25px;color: #fff;}
.le_tabs .le_sd .item .det_info .info_list li {padding-left: 20px;margin-bottom: 10px;position: relative;}
.le_tabs .le_sd .item .det_info .info_list li::after {content: '';display: block;width: 18px;height: 18px;background: url(../img/main_ir.png) -140px -209px no-repeat;position: absolute;top: 2px;left: 0;}
.le_tabs .le_sd .item .det_info .info_list li:nth-child(2):after {background-position:-183px -209px;}
.le_tabs .le_sd .item .det_info .info_list li:nth-child(3):after {background-position:-227px -207px;}
.le_tabs .le_sd .item .det_info .info_list li:nth-child(4):after {background-position:-269px -209px;}

.le_tabs .le_sd .end .item .det_info .info_list li::after {content: '';display: block;width: 18px;height: 18px;background: url(../img/main_ir.png) -140px -232px no-repeat;position: absolute;top: 2px;left: 0;}
.le_tabs .le_sd .end .item .det_info .info_list li:nth-child(2):after {background-position:-183px -232px;}
.le_tabs .le_sd .end .item .det_info .info_list li:nth-child(3):after {background-position:-227px -230px;}
.le_tabs .le_sd .end .item .det_info .info_list li:nth-child(4):after {background-position:-269px -232px;}

.le_tabs .le_sd .item .det_info .info_tit {width: 17%;font-weight: 500;}
.le_tabs .le_sd .item .det_info .info_text {width: 83%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

.le_tabs .le_sd .item .btn_more_le {width: 85%;height: 50px;line-height: 50px;color: #696969;background: #fff;border-radius: 10px;position: absolute;left: 50%;bottom: 20px;transform: translateX(-50%);text-align: center;transition: all .1s;}
.le_tabs .le_sd .ongoing .item .btn_more_le:hover {color: #f67117;font-weight: 600;}
.le_tabs .le_sd .expect .item .btn_more_le:hover {color: #52904a;font-weight: 600;}
.le_tabs .le_sd .end .item .btn_more_le:hover {color: #515151;font-weight: 600;}

.le_sd_wrap .slick-nav{position:relative;}
.le_sd_wrap .slick-nav a{position:absolute;z-index: 10;}
.le_sd_wrap .slick-nav a.slick-prev,
.le_sd_wrap .slick-nav a.slick-next{top:140px;width:60px;height:60px;background:url(../img/main_ir.png) 0 0 #fff no-repeat ;border:1px solid rgba(0, 0, 0, .2);border-radius:50%; box-shadow: 0 0 5px #efefef;}
.le_sd_wrap .slick-nav a.slick-prev{left:-48px;background-position:6px -139px;}
.le_sd_wrap .slick-nav a.slick-next{right:-48px;background-position:-53px -139px;}

/* 강좌정보없음 */
.le_tabs .nothing {margin: 38px -16px;}
.le_tabs .nothing .item_box {border: 1px solid #ddd;border-radius: 15px;width: 100%;height: 352px;text-align: center;padding-top: 230px;position: relative;font-size: 1.125em;background: #f5f5f5;}
.le_tabs .nothing .item_box::after {content: '';display: block;width: 150px;height: 150px;position: absolute;top: 70px;left: 50%;transform: translateX(-50%);background: url(../img/nothing_le.png) no-repeat center;}


/* 강좌정보 더보기&검색 */
.lecture_tab_box .btn {width: 35px;height: 35px;border-radius: 50%;background: url(../img/main_ir.png) -131px -144px#004adf;position: absolute;top: -4px; left: 410px;}

.lecture_tab_box .search_a {display: flex;position: absolute;top: -4px;right: 16px;border-radius: 10px;min-width: 308px;}
.lecture_tab_box .search_a input {height: 35px;border: none;background: #e9f3ff;border-radius: 10px;min-width: 280px;}
.lecture_tab_box .search_a .btn_search {width: 35px;width: 35px;height: 35px;border-radius: 50%;background: url(../img/main_ir.png) -175px -144px #004adf;position: absolute;top: 0;right: 10px;}

/* 스크롤 */
.scroll_ico {padding: 40px 5px 0;color: #3d3c3b;position: absolute;left: 50%;transform: translateX(-50%);bottom: 10px;}
.scroll_ico::after {content: '';display: block;width: 22px;height: 32px;background: url(../img/main_ir.png) -230px -153px no-repeat;position: absolute;top: 0;left: 50%;transform: translateX(-50%);animation: myMove1 1s linear 1s infinite;}


/* ----------- main_sec02 ----------- */

.news_wrap {padding-top: 90px;justify-content: space-between;}

/* 소식&자료실 */
.news_wrap .news_box {width: 780px;border: 1px solid #ddd;border-radius: 15px;height: 350px;position: relative;}
.news_wrap .news_box::after {content: '';display: block;width: 100%;height: 1px;background: #ddd;position: absolute;top: 65px;left: 0;}
.news_tab_wrap {position: absolute;left:0;top: 25px;width: 100%;padding-left: 32px;}
.news_tab_wrap > li {display: inline-block;}
.news_tab_wrap > li > a.font_g {display: block;font-size: 1.750em;font-weight: 600;position: relative;margin-right: 20px;color: #888;}
.news_tab_wrap > li > a.font_g::after {content: '';display: block;width: 8px;height: 8px;position: absolute;background: #ababab;border-radius: 50%;top: 10px;right:-15px;} 
.news_tab_wrap > li:last-child > a.font_g::after {display: none;} 
.news_tab_wrap > li > a.font_g .de_orange {font-weight: 600;}

.news_tab_wrap > li > a.font_g.active {color: #000;}
.news_tab_wrap > li > a.font_g.active .de_orange {font-weight: 600;color: #ff3600;}

.news_tab_wrap > li > a.font_g:hover {color: #000;}
/* .news_tab_wrap > li > a.font_g:hover .de_orange {color: #ff3600;} */

.more_blue {position: absolute;width: 30px;height: 30px;top: -4px;right: 32px;background: url(../img/main_ir.png) -134px -146px no-repeat #004adf;border-radius: 50%;}

.news_tab_wrap .tab_cont{display: none;width: 100%;position: absolute;left: 0;top: 55px;padding: 0 32px;}
.news_tab_wrap > li:first-child > .tab_cont,.news_tab_wrap > li:first-child > .more_blue{display:block;} 
.news_tab_wrap .more{display:none;}

.news_tab_wrap .tab_cont > .news_list > li > a {width: 100%;height: 100%; display: block;display: flex;}
/* .news_list .latest {width: 100%;height: 80px;} */
.news_list .latest .date_box {width: 13%;text-align: center;position: relative;}
.news_list .latest .date_box::after {content: '';display: block;width:1px;height: 100%;background: #d4d4d4;position: absolute;top: 50%;right: 0;transform: translateY(-50%);}
.news_list .latest .date_box .day {font-size: 1.875em;font-weight: 500;}

.news_list .latest .text_box {padding:0 20px;width: 87%;}
.news_list .latest .text_box .tit {width: 100%;font-size: 1.125em;font-weight: 500;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.news_list .latest .text_box .sub_t {width: 100%;font-size: 0.875em;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin-top: 10px;}

.news_list li:not(.latest) {padding: 15px 0 10px 20px;position: relative;width: 100%;border-bottom: 1px dashed #ddd;}
.news_list li:not(.latest)::after {content: '';display: block;width: 8px;height: 8px;border-radius: 50%;position: absolute;top: 20px;background: #ddd;left: 5px;}
.news_list li .ne_tit {width: 85%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.news_list li .ne_date {width: 15%;text-align: right;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;padding-right: 20px;}

.news_list li:last-child {border-bottom: none;}

.news_list li a:hover .tit {color: #004adf;}
.news_list li a:hover .ne_tit {color: #004adf;}


/* 알림배너 */
.news_wrap .allim_b {width: calc(100% - 812px);height: 350px;}
.news_wrap .allim_b .al_sd_wrap {position: relative;width: 100%;height: 100%;border-radius: 15px;overflow: hidden;}

.allim_b .al_sd_wrap .al_sd {width: 100%;height: 100%;}
.allim_b .al_sd .item_box {overflow: hidden;border-radius: 15px;}
.allim_b .al_sd .item_box a {display: block;border: 1px solid #ddd;border-radius: 15px;overflow: hidden;}
.allim_b .al_sd .item_box img {width: 100%;height: 100%;}

/* .al_sd_wrap .slick-controls {position: absolute;width: 150px;height: 50px;background: rgba(0, 0, 0, .7);bottom: 0;right: 0;border-radius: 0 0 15px 0;z-index: 10;} */
/* .al_sd_wrap .slick-controls a {float: left;} */
.al_sd_wrap .slick-nav {position: absolute;width: 150px;height: 50px;background: rgba(0, 0, 0, .7);bottom: 0;right: 0;border-radius: 0 0 15px 0;z-index: 10;padding: 10px;}
.al_sd_wrap .slick-nav a {position: absolute;top: 50%;transform: translateY(-50%);}
.al_sd_wrap .slick-nav a.slick-prev,
.al_sd_wrap .slick-nav a.slick-next{width:18px;height:26px;background:url(../img/main_ir.png) 0 0 no-repeat;}
.al_sd_wrap .slick-nav a.slick-prev{background-position:-374px -150px;left: 20px;}
.al_sd_wrap .slick-nav a.slick-next{background-position:-416px -150px;right: 20px;}
.al_sd_wrap .slick-nav a.slick-stop, .al_sd_wrap .slick-nav a.slick-play {width: 18px;height: 17px;background:url(../img/main_ir.png) 0 0 no-repeat;}
.al_sd_wrap .slick-nav a.slick-stop{background-position:-420px -208px;right: 45px;}
.al_sd_wrap .slick-nav a.slick-play{background-position:-392px -208px;right: 45px;display: none;}

.al_sd_wrap .counter {position: absolute;color: #fff;bottom: 15px;right: 75px;z-index: 10;}





/* 관련사이트 */
.related_wrap {width: 100%;padding: 20px 0;background: #f6f6f6;margin-top: 90px;}
.rel_box .rel_tit {width: 15%;padding-left: 30px;font-weight: 500;}
.rel_box .site_list {width:85%;justify-content: space-between;}
.rel_box .site_list li {position: relative;}
.rel_box .site_list li::after {content: '';display: block;width: 3px;height: 3px;border-radius: 50%;background: #515151;position: absolute;top: 50%;transform: translateY(-50%);right:-20px;}
.rel_box .site_list li:last-child::after {display: none;}
.rel_box .site_list li a {width:100%;height: 100%;display: block;}
.rel_box .site_list li a:hover {color: #004adf;}

/* @keyframes rotate-vert-center {  0% { transform: rotateY(0);opacity:.5;  }  100% {transform: rotateY(360deg);opacity:1;}} */

@keyframes myMove1 {
        0% { margin-top: 0px; }
        50% { margin-top: 8px; }
        100% { margin-top: 0px; }
    }
