@charset "utf-8";

@media (max-width: 1440px){
    /* 기본 */
	.inner{width:100%;padding-right:1.25rem;padding-left:1.25rem; margin:0 auto; box-sizing:border-box}	
	#header.fixed{top:0}
	.logo_box,.main_sec03 .main_sns .tit{left:20px}
	#gnb .dep2Wrap .dep2tit{padding-left:20px;}
	#footer .inner .f_top{padding-left:20px;}
	.loca_nav{right:24px;bottom:24px;}

    /* 메인 */
    #header, .logo_box .symbol {height: 80px;}
    #gnb,.tnb{display:none;}	
	#header #mMenu{display:block;}
    .quick_nav {display: none;}

}

@media (max-width: 1280px){
    /* 기본 */
	.inner{width:100%;padding-right:1.25rem;padding-left:1.25rem; margin:0 auto; box-sizing:border-box}	
	#header.fixed{top:0}
	.logo_box, .tit{left:20px}
	#gnb .dep2Wrap .dep2tit{padding-left:20px;}
	#footer .inner .f_top{padding-left:20px;}
	.loca_nav{right:24px;bottom:24px;}

    body,html{font-size:15px;
        -webkit-text-size-adjust : none;  /* 크롬, 사파리, 오페라 신버전 */
        -ms-text-size-adjust : none;  /* IE */
        -moz-text-size-adjust : none;  /* 파이어폭스 */
        -o-text-size-adjust : none;  /* 오페라 구버전 */
    }

}

@media (max-width: 1140px){
    /* 메인 */
    .main_slide_wrap {padding:80px 1.25rem;}
    .main_slide_wrap > .dp_flex {flex-wrap: wrap;}
    .main_slide_wrap > .dp_flex > div {width: 100%;}
    .main_slide_wrap .box_l {padding-right: 0;margin-bottom: 30px;min-height: auto;}
    .main_slide_wrap .box_l .menu_link {display: flex;flex-wrap: wrap;}
    .main_slide_wrap .box_l .menu_link li {width: calc(100% / 3);padding: 1%;margin-bottom: 0;}
    .main_slide_wrap .box_l .menu_link li.row_br a {padding: 27px 10px 0 94px;}

    .scroll_ico {display: none;}

    .news_wrap {flex-wrap: wrap;}
    .news_wrap > div {width: 100% !important;}
    .news_wrap .news_box {margin-bottom: 30px;}
    .news_wrap .allim_b {height: auto;}

    .related_wrap .rel_box {flex-wrap: wrap;}
    .rel_box .rel_tit {width: 100%;margin-bottom: 10px;}
    .rel_box .site_list {width: 100%;}

    /* 서브 */
    #snb{display:none;}
    #subContent {width: 100%;}
}

@media (max-width: 1024px){
    /* 메인 */
    .news_wrap {padding-top: 50px;}
    .related_wrap {margin-top: 50px;}
    .rel_box .site_list li {width: 20%;padding: 10px;}
    .rel_box .site_list li a {border: 1px solid #838383;border-radius: 7px;padding: 10px 5px;}
    .rel_box .site_list li::after {display: none;}
}

@media (max-width: 960px){
    /* 메인 */
    .main_slide_wrap .main_tit .fb3 {font-size: 2.813em;}
    .main_slide_wrap {padding: 40px 1.25rem;}
    .main_slide_wrap .main_tit .fb1 {margin-top: 10px;}
    .main_slide_wrap .box_l .menu_link li.row_br a {padding: 17px 10px 0 94px;}

    .allim_b .al_sd .item_box {padding: 0 0 0 10px;}

    .rel_box .site_list {flex-wrap: wrap;}
    .rel_box .site_list li {width: 25%;}
    .rel_box .site_list li a {padding: 10px 20px;}

    /* 서브 */
    .le_list_table tr td span[class*="tag_"] {width: auto;}
    .le_list_table tr td .apply {width: auto;}
}

@media (max-width: 768px){
    /* 메인 */
    .main_slide_wrap .main_tit .fb3 {font-size: 2.5em;}
    .main_slide_wrap .box_l .menu_link li a{padding: 20px 10px 20px 70px;height: auto;font-size: 1em;}
    .main_slide_wrap .box_l .menu_link li a::after {transform: scale(0.8);top: 16%;left: 10px;}
    .main_slide_wrap .box_l .menu_link li.row_br a {padding: 10px 10px 12px 70px;}
    
    .lecture_tab_box .search_a {display: none;}

    .news_list li .ne_tit {width: 80%;}
    .news_list li .ne_date {width: 20%;}
    .rel_box .site_list li {width: 50%;padding: 5px;font-size: 0.938em;}


    /* 서브 */
    .board_search {padding: 20px;}
	.board_search .search_form {width:100%;}
	#svisualLayout .titleWrap h2 {font-size:2rem;}
    /* 강좌검색 수강신청 */
    .le_list .board_search .search_form {width: 100%;}
    .le_list_table {table-layout: auto;border-top: none;}
    .le_list_table colgroup col {width:100%;}
    .le_list_table thead {display: none;}
    .le_list_table tbody tr {display: flex;flex-wrap: wrap;border: 1px solid #ddd;border-radius: 14px;text-align: left;padding: 16px;margin-bottom: 12px;align-items: center;}
    .le_list_table tbody td {display: block;border: 0;width: auto;padding: 6px 4px;text-align: left;width: 100%;}
    .le_list_table tr td span.time {font-size: 1em;}
    .le_list_table tr td span.mo_vis {display: block;float: left;font-weight: 500;margin-right: 10px;}

	/* 온라인평생학습 */
	.bogal_list > ul > li {width: calc((100% - 64px) / 2);}

	/*군민행복아카데미*/
	.gun_academy .ac_list > li > a:hover .move_video {opacity:0}

	/*행복학습센터*/
	.study_center .top_info_box {background-size:40%;}

	/*강사은행*/
	.bank_intro .top_info_box {background-size:38%;}

	/*화순장학회*/
	.school_ed.pg_04 .top_info_box {background-size:38%;background-position: right center;}
	

	
}

@media (max-width: 680px){
    /* 메인 */
    .logo_box a img {height: 35px;}
    .main_slide_wrap .main_tit .fb3 {font-size: 2em;}

    .f_wrap {padding-top: 30px;padding-bottom: 20px;}
    #footer .inner .f_top{flex-wrap: wrap;justify-content: center;}
    .f_top .f_logo {margin-bottom: 20px;margin-right: 0;}
    .f_box .f_link {justify-content: center;}
    .f_bottom {text-align: center;}

	/* 팝업 */
	#pop .popup_list_wp{width:100%;}
	#pop .popup_list_wp .pop_img a{height:auto;}
	#pop .popup_unit_bottom .btn{margin-left:2px;}
	#pop .popup_list_wp .slick-nav a.slick-stop, #pop .popup_list_wp .slick-nav a.slick-play{bottom:8px}
	#pop .popup_list_wp .slick-nav a.slick-next {right: -43px;}
	#pop .popup_list_wp .slick-nav a.slick-prev {left:-43px;}

    /* 서브 */
	.board_view_head h3 {font-size:1.333em;}
	.view_pagination ul li {width: 100%;border-bottom: 1px solid #e2e2e2;}
	.view_pagination ul li.next a {padding-right:30px;padding-left:90px;}
	.view_pagination ul li.next a span {left:20px;}

    /* 강좌검색 수강신청 */
    .le_list .board_search select {width: 100%;border-radius: 10px;margin-bottom: 4px;}
    .le_list .board_search input.s_text_a {width: 80%;}
    .le_list .board_search .btn_search {width: 19%;}
	.le_info_box {flex-wrap:wrap;}
	.le_info_box .info_l {width:100%;}
	.le_info_box .info_r {width:100%;}

	/* 학습기관현황 */
	.top_info_box.le_inst {padding:30px;background-size:35%;}

	/* 성인문해교육 */
	.top_info_box.adli_s {background-size:45%;}

	/*행복학습센터*/
	.study_center_list .sec01 .bg_gray2 {top:42px;left:0;}
	.study_center_list .sec01 .con_box {margin-top:60px;}

	/*찾아가는평생학습강좌*/
	.delivery_ed_pro .list_box {flex-wrap:wrap;}
	.delivery_ed_pro .sec01 .list_box > li {width:100%;}

	/*화순학사*/
	.map_info_box {position: relative;left: 0;width: 90%;margin: 0 auto;margin-top: -100px;box-shadow: 6px 8px 12px 2px rgb(21, 121, 77 , .1);}
	.map_info_box .in_box {padding: 0 10px 30px 10px;}
	
	
}

@media (max-width: 480px){
    /* 메인 */
    .main_slide_wrap .main_tit .fb3 {font-size: 1.625em;}
    .main_slide_wrap .box_l .menu_link li {width: calc(100% / 2);}

    .le_tabs > li >a.tab_link {display: none;}
    .lecture_tab_box .btn_more {right: 16px;left: unset;}
    .news_list li .ne_tit {width: 75%;}
    .news_list li .ne_date {padding-right: 0;width: 25%;}

    .allim_b .al_sd .item_box {padding: 0;}

    .rel_box .site_list li {width: 100%;padding: 0;margin-bottom: 5px;}

    #footer .inner .f_top {padding: 0 0 10px 0;}
    #footer .inner .f_top .f_logo a {height: 35px;}
    #footer .inner .f_top .f_logo img {height: 35px;}
    .f_top .f_box .f_info {font-size: 0.938em;}
    .f_bottom {font-size: 0.938em;}

	/* 팝업 */
	#pop .pop_title .font_g {font-size: 2em;}

	/* 서브 */
	.screen_unit {display:none;}
	.breadcrumb_wp .breadcrumb li a {font-size:0.875em;padding-right: 25px;margin-right:4px;}
	.breadcrumb_wp .breadcrumb li.home a span {transform: scale(0.8);}
	.breadcrumb > ul >li:nth-child(4) {display:none;}
	.breadcrumb_wp .breadcrumb li:nth-child(3) a:after {display:none;}

	.top_info_box {padding: 30px 30px 30px 70px;}
	.top_info_box::after {width:40px;height:40px;background-size:cover;left:20px;}
	.top_info_box .box_tit {font-size:1.667em;}

	.scl_x_wrap {width:100%;overflow-x:scroll;}
	.scl_x.notice {display:block;}
	.scl_x_wrap table {width:680px;}
	
	.add_dot::after {top:6px;transform:unset;}

	.add_file3 .flieDlist a:last-child {margin-left:30px;margin-bottom:10px;}

	.view_sd .item {height:240px;}

    /* 수강신청 */
    .apply_le_info .apply_info.bo_form table colgroup col {width:100%;}
    .apply_le_info .apply_info.bo_form table tr {display: flex;flex-wrap: wrap;text-align: left;align-items: center;margin-bottom: 4px;border: 1px solid #ddd;}
	.apply_le_info .apply_info.bo_form table th {display: block;border: 0;padding: 10px 4px;text-align: left;width: 100%;text-align: center;border-bottom:none}
	.apply_le_info .apply_info.bo_form table td {display: block;border: 0;padding: 16px 10px;text-align: left;width: 100%;}
    .apply_le_info .apply_info.bo_form table td.address input {width: 100%;}
    .apply_le_info .apply_info.bo_form table td.address button {width: 100%;}

    .le_list .basic_tb1 {table-layout: auto;}
    .bo_list.le_list .basic_tb1 {border-top: none;}
    .bo_list.le_list .basic_tb1 colgroup col {width:100%;}
    .bo_list.le_list .basic_tb1 thead {display: none;}
    .bo_list.le_list .basic_tb1 tbody tr {display: flex;flex-wrap: wrap;border: 1px solid #ddd;border-radius: 14px;text-align: left;padding: 16px;margin-bottom: 12px;align-items: center;}
    .bo_list.le_list .basic_tb1 tbody td {display: block;border: 0;padding: 6px 4px;text-align: left;}
    .bo_list.le_list .basic_tb1 tbody td:nth-child(2) {width: 100%;}
    .bo_list.le_list .basic_tb1 tbody td:nth-child(2) a {width: 300px; text-overflow: ellipsis;overflow: hidden;}

	/* 온라인평생학습 */
	.bogal_list > ul > li {width: 100%;}
	.board_search select {width:100%;border-radius:10px;margin-bottom:4px;}
	.board_search input.s_text_a {border-radius:10px 0 0 10px;}
	.board_wrap .basic_tb1 colgroup col {width:100%;}
	.board_wrap .basic_tb1 thead {display:none;}
	.board_wrap .basic_tb1 tr {display: flex;flex-wrap: wrap;text-align: left;align-items: center;border-bottom:1px solid #ddd;padding:10px 0;}
	.board_wrap .basic_tb1 td {display: block;border: 0;padding: 6px 4px;text-align: left;}
	.board_wrap .basic_tb1 td:nth-child(2) {width:100%;font-weight:600;font-size:1.063em;}

	/* 학습기관현황 */
	.top_info_box.le_inst {background-image:none;}
	.institution .basic_tb1 {border-top:none;}
	.institution .basic_tb1 thead {display:none;}
	.institution .basic_tb1 tr {display: flex;flex-wrap: wrap;text-align: left;align-items: center;border:1px solid #ddd;border-radius:15px;padding:16px;margin-bottom:15px;}
	.institution .basic_tb1 td {display: block;border: 0;padding: 6px 4px;text-align: left;}
	.institution .basic_tb1 td:nth-child(3) {width:100%;font-weight:600;font-size:1.063em;}
	.institution .basic_tb1 td:last-child {width:100%;}

	/*성인문해교육*/
	.top_info_box.adli_s {background-image:none;padding:30px;}
	.top_info_box.adli_s .exp_text {width:100%;}
	.top_info_box.adli_s .exp_text ul {padding-bottom:15px;}
	.top_info_box.adli_s .exp_text li:last-child .fb1 {margin-bottom:0;}

	/*행복학습센터*/
	.study_center .top_info_box {background-image:none;padding:30px;}
	.study_center .top_info_box .box_wrap {width:100%;}
	.study_center .top_info_box .box_wrap .info_btn_box {flex-wrap:wrap;}
	.study_center .top_info_box .box_wrap .info_btn_box a {width:100%;}
	.study_center .top_info_box .box_wrap .info_btn_box a:first-child {margin-bottom:10px;}

	/*찾아가는평생학습*/
	.delivery_ed_intro .sec01 .list_box {flex-wrap:wrap;}
	.delivery_ed_intro .sec01 .list_box > li {width:100%;}
	.top_info_box.delivery .info_btn_box {flex-wrap:wrap;}
	.top_info_box.delivery .info_btn_box a {width:100%;}
	.top_info_box.delivery .info_btn_box a:first-child {margin-bottom:10px;}

	/*강사은행*/
	.bank_intro .top_info_box {background-image:none;padding:30px;}
	.bank_intro .top_info_box .in_box {width:100%;}
	.bo_form_wrap.teacher_form colgroup col {width:100%;}
	.bo_form_wrap.teacher_form tr {display: flex;flex-wrap: wrap;text-align: left;align-items: center;border-bottom:1px solid #ddd;border: 1px solid #ddd;margin-bottom:4px;}
	.bo_form_wrap.teacher_form table th {display: block;border: 0;padding: 10px 4px;text-align: left;width: 100%;border-bottom: 1px solid #ddd;text-align:center;}
	.bo_form_wrap.teacher_form table td {display: block;border: 0;padding: 16px 10px;text-align: left;width: 100%;}
	.bo_form_wrap.teacher_form table td.address input {width:100%;}
	.bo_form_wrap.teacher_form table td.address button {width:100%;}
	.bo_form_wrap.teacher_form .license_ls tr:first-child th:not(.license_title) {display:none;}

	/*학습동아리신청*/
	.ed_club .sec02 .step_arrow ul {flex-wrap: wrap;}
	.ed_club .sec02 .step_arrow li {width: 100%;padding: 130px 20px 40px 20px;}
	.ed_club .sec02 .step_arrow li::after {top: unset;bottom:-25px;right: 50px;transform: rotate(90deg);}
	.ed_club .top_info_box .info_btn_box {flex-wrap: wrap;}
	.ed_club .top_info_box .info_btn_box a {width: 100%;}


	/*화순장학회*/
	.school_ed.pg_04 .top_info_box {background-image:none;padding:30px;}
	.school_ed.pg_04 .top_info_box .box_wrap {width:100%;}
	
	/*연혁*/
	.hs_lll.pg_01 .con_box .in_box {flex-wrap:wrap;}
	.hs_lll.pg_01 .in_box .year {width:100%; text-align:center;}
	.hs_lll.pg_01 .in_box .history_lll {padding:10px 20px;}

	/*비전 및 추진전략*/
	.hs_lll.pg_02 .sec01 .vision {padding: 30px 20px;}
	.hs_lll.pg_02 .sec01 .im_value {flex-wrap:wrap;}
	.hs_lll.pg_02 .sec01 .im_value p{width:48%;padding:10px 20px;margin:0 1% 1% 1%;text-align:center;}
	.hs_lll.pg_02 .sec01 .im_value::after {display:none;}
	.hs_lll.pg_02 .sec03 .dp_flex {flex-wrap:wrap;}
	.hs_lll.pg_02 .sec03 .dp_flex li {width:100%;margin-bottom:20px;}
	.hs_lll.pg_02 .sec03 .dp_flex li:last-child {margin-bottom:0;}
	.hs_lll.pg_02 .sec04 .list_box {width:100%;margin-bottom:20px;}
	.hs_lll.pg_02 .sec04 .list_box:last-child{margin-bottom:0;}

	/*조례*/
	.hs_lll.pg_03 .con_box > ul {padding:20px;}
	.hs_lll.pg_03 .ordinance_con {padding:20px;}
	

	
}

@media (max-width: 425px){
    /* 메인 */
    .main_slide_wrap {padding: 40px 1.25rem 20px 1.5rem;}
    .main_slide_wrap .box_l {order: 2;}
    .main_slide_wrap .box_r {order: 1;margin-bottom: 20px;}
    .main_slide_wrap .box_l .menu_link {padding: 10px;}
    .main_slide_wrap .box_l .menu_link li {width: 100%;}
	.main_slide_wrap .box_l .menu_link li.row_br a {padding: 20px 10px 20px 70px}
    .news_tab_wrap {padding-left: 16px;}
    .news_tab_wrap .tab_cont {padding: 0 16px;}
    .more_blue {right: 16px;}
    .news_list .latest .date_box {width: 30%;}
    .news_list .latest .text_box {width: 70%;}

    /* 서브 */
	.tab_box2 .tab li {width:25%;margin-bottom:10px;}

    /* 강좌검색 수강신청 */
    .board_search input.s_text_a {width: 78%;border-radius:10px 0 0 10px;}
	.board_search .btn_search {font-size:1rem;width:20%;}

	.le_list .board_search input.s_text_a {width: 78%;border-radius:10px 0 0 10px;}
	.le_list .board_search .btn_search {font-size:1rem;width:20%;}

	/*성인문해교육*/
	.top_info_box.adli_s .info_btn_box {flex-wrap:wrap;}
	.top_info_box .info_btn_box a {width:100%;}
	.top_info_box .info_btn_box a:first-child {margin-bottom:10px;}

	/*군민행복아카데미*/
	.ac_wrap {flex-wrap:wrap;}
	.gun_academy .ac_list .pic_box {width:100%;margin-right:0;margin-bottom:15px;}
	.gun_academy .ac_list .ac_info_box {width:100%;}
	.gun_academy .ac_list .pic_box .img {width:130px;height:130px;border-radius:50%;margin:0 auto;}

	/*화순학사*/
	.map_info_box .btn {width:100%;}
	.map_info_box .bg_blue {margin-bottom:10px;}
	.map_info_box .btn.bg_w {margin-left: 0 !important;}
	
	
}

@media (max-width: 375px){
    /* 메인 */
    .main_slide_wrap .main_tit .fb3 {font-size: 1.5em;}
    .le_sd_wrap .slick-nav a.slick-prev, .le_sd_wrap .slick-nav a.slick-next {width: 45px;height: 45px;}
    .le_sd_wrap .slick-nav a.slick-next {background-position: -60px -146px;}
    .le_sd_wrap .slick-nav a.slick-prev {background-position: -1px -146px;}
    .box_r .lecture_tab_box {min-height: 450px;}
    .le_tabs .tab_cont {top: 35px;}
    .le_tabs .le_sd .item_box {padding:0;}
    .lecture_tab_box .btn_more {right: 2px;}
    .box_r .lecture_tab_box > .font_g {padding-left: 0;}

    .news_list .latest .text_box {padding:0 5px;}
    .news_list li:not(.latest) {font-size: 0.875em;}

	/* 팝업 */
	#pop .popup_list_wp .slick-nav a.slick-stop, #pop .popup_list_wp .slick-nav a.slick-play {bottom: 88px;left: 5px;}

	/*서브*/
	.le_info_box.mbox .le_v_table {border-top:none;}
    .le_info_box.mbox .le_v_table tr {display: flex;flex-wrap: wrap;text-align: left;align-items: center;border-bottom:1px solid #ddd;padding-bottom:16px;}
    .le_info_box.mbox .le_v_table th {display: block;border: 0;padding: 6px 4px;text-align: left;width: 100%;border-bottom: 1px solid #ddd;}
	.le_info_box.mbox .le_v_table td {display: block;border: 0;padding: 6px 4px;text-align: left;width: 100%;}

	.bo_form_wrap table colgroup col {width:100%;}
	.bo_form_wrap table tr {display: flex;flex-wrap: wrap;text-align: left;align-items: center;border-bottom:1px solid #ddd;border: 1px solid #ddd;margin-bottom:4px;}
    .bo_form_wrap table th {display: block;border: 0;padding: 10px 4px;text-align: left;width: 100%;border-bottom: 1px solid #ddd;text-align:center;}
	.bo_form_wrap table td {display: block;border: 0;padding: 16px 10px;text-align: left;width: 100%;}
	
	.bo_form_wrap table td.address input {width:100%;}
	.bo_form_wrap table td.address button {width:100%;}

	.board_view .basic_tb2 colgroup col {width:100%;}
	.board_view .basic_tb2 tr {display: flex;flex-wrap: wrap;text-align: left;align-items: center;border-bottom:1px solid #ddd;border: 1px solid #ddd;margin-bottom:4px;}
	.board_view table th {display: block;border: 0;padding: 10px 4px;text-align: left;width: 100%;border-bottom: 1px solid #ddd;text-align:center;}
	.board_view table td {display: block;border: 0;padding: 16px 10px;text-align: left;width: 100%;text-align:center;}

    /*수강신청*/
    .apply_le_info .le_info.bo_form table td {text-align: center;}

	/*찾아가는평생학습강좌*/
	.delivery_ed_pro .sec01 .list_box .in_box > ul > li {width:100%;}

	/*강사은행*/
	.board_view .license_ls colgroup col {width:100%;}
	.board_view .license_ls tr:first-child th:not(.license_title) {display:none;}

}

@media (max-width: 320px){
    /* 메인 */
    .news_list li .ne_date {display: none;}
    .news_list li .ne_tit {width: 100%;}
}